# FastAPI
DEBUG=true

# Database
# Note: In docker-compose, this is postgres://user:password@db:5432/billflow
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# Security
# Generate a secure key in production using `openssl rand -hex 32`
SECRET_KEY=dev_secret_key_12345
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200 # 30 days
